{% extends 'base.html.twig' %}

{% block title %}Coming soon ™️{% endblock %}

{% block body %}
<style>
    html, body {
        background-color: #191919;
        color: #ddd;
    }
</style>

<div style="margin-top: 80px;">
    <div style="text-align: center">
        <img src="{{ asset('assets/images/queen.png') }}" alt="Shinobu" style="max-width: 90vw; max-height: 50vh; margin-bottom: 40px;" />
        <h1>Ka ka ka</h1>

        <span style="font-style: italic">I'm not yet ready. Come back later, servant~</span>
    </div>
</div>
{% endblock %}
